<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./templates/head', {title:'Contraseña actualizada'} ); %>
</head>

<body class="container">

    <header>
        <%- include('./templates/nav'); %>
    </header>
    <div class="mt-3">
        <h1 class="font-weight-bold">Se ha enviado el correo</h1>
    </div>
    <p>Por favor revisa tu bandeja de entrada y haz click en el enlace que te hemos enviado para restablecer tu contraseña</p>
    <div class="row mb-4">
        <a href="/">
            <button type="button" class="btn btn-primary mb-4">Volver</button>
        </a>
    </div>
    </form>