<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin="" />
    <link rel="stylesheet" href="./../css/map.css">
    <%- include('./templates/head', {title:'Acceso'} ); %>
</head>

<body>
    <header>
        <%- include('./templates/nav'); %>
    </header>
    <h1 style="text-align:center">Encuentra tu tienda o punto de recogida</h1>
    <section style="display: flex;justify-content: center;flex-direction: row;align-items: center;">

        <div class="searchMap">
            <h3>Busca por ciudad</h3>
            <input type="text" id="store">

            <button onclick="searchStore();" style="margin-bottom: 5%;margin-top: 5%;">Buscar storeApu</button>
        </div>
        <div class="searchMap">
            <h3>Busca por ciudad</h3>
            <input type="text" id="deliveryPoint">
            <button onclick="searchDelivery();" style="margin-bottom: 5%;margin-top: 5%;">Busca deliveryApu</button>
        </div>
        <div id="map" style="height:50Vh;width: 60%;border: 1px solid black;"></div>

    </section>


    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>



    <footer>
        <%- include('./templates/footer'); %>
    </footer>

</body>
<script>const mapId = "map";                                       //* Id index del mapa de tiendas
    const initialCoordinates = [40.4169473, -3.7057172];       //* Cordenadas iniciales (Plaza Sol en Madrid [lat, lng])
    const map = L.map(mapId).setView(initialCoordinates, 5);   //* const Map = (Nos inserta el mapa en el div "map").(Centrada en la cordenada inicial, Zoom = 5)

    const TOKEN = "pk.eyJ1IjoiY2Nhc3RpbGxvMDZtYiIsImEiOiJja2k1eXpybXU3em1mMnRsNjNqajJ0YW12In0.aFQJlFDBDQeUpLHT4EiRYg";
    const MAPBOX_API = `https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=${TOKEN}`;

    L.tileLayer(MAPBOX_API, {
        maxZoom: 18,
        id: "mapbox/streets-v11",
        tileSize: 512,
        zoomOffset: -1,
        accessToken: TOKEN,
    }).addTo(map);


    function searchStore() {
        let city = document.getElementById("store").value.toLowerCase();
        fetch("./../json.mapas/stores.json")
            .then((res) => res.json())
            .then((res) => {
                let coordenatesCity = res.filter((cities) => cities.ciudad == city);
                //* Para gestionar un gran cambio del json.
                let cleanLat = coordenatesCity[0].latitud * 100;
                let cleanLon = coordenatesCity[0].longitud * 100;
                const plazaMayorCoordinates = [cleanLat, cleanLon];
                //* Añadir marcador de la ciudad solicitada en el div.
                L.marker(plazaMayorCoordinates).bindPopup(`${city} : lat:${cleanLat} long: ${cleanLon}`).addTo(map);
            });
            let stores = "madrid"
            if(city !=stores){
                alert("Lo sentimos,no tenemos servicio en esa ciudad")
            }
    }

    function searchDelivery() {
        let city = document.getElementById("deliveryPoint").value.toLowerCase();
        fetch("./../json.mapas/delivery.json")
            .then((res) => res.json())
            .then((res) => {
                let coordenatesCity = res.filter((cities) => cities.ciudad == city);
                //* Para gestionar un gran cambio del json.
                let cleanLat = coordenatesCity[0].latitud * 100;
                let cleanLon = coordenatesCity[0].longitud * 100;
                const plazaMayorCoordinates = [cleanLat, cleanLon];
                //* Añadir marcador de la ciudad solicitada en el div.
                L.marker(plazaMayorCoordinates).bindPopup(`${city} : lat:${cleanLat} long: ${cleanLon}`).addTo(map); style;
            });
        
    }

</script>

</html>