<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./templates/head', {title:'Contraseña actualizada'} ); %>
</head>

<body class="container">

    <header>
        <%- include('./templates/nav'); %>
    </header>
    <div class="text-center mt-3">
        <h1 class="font-weight-bold">Tu contraseña ha sido actualizada</h1>
    </div>
    <p>Ahora puedes acceder a tu cuenta de nuevo</p>
    <div class="row mb-4">
        <a href="/login">
            <button type="button" class="btn btn-primary mb-4">Acceder</button>
        </a>
    </div>
    </form>