<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
<div class="container-fluid py-4">
    <div class="row m-5">
        <div class="col-lg-5 col-md-5 col-sm-4 col-xs-12">
            <ul class="Compañia">
                <span class="my-4">Dirección</span>    
                 <li>
                    <p>ApuShop</p>
                  </li>
                       
                  <li>
                    <p>Teléfono: +34 1234 56789</p>
                  </li>
                       
                  <li>
                    <p>info@gmail.com</p>
                  </li>
             </ul>
        </div>
        
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <ul class="contact">
                <span class="my-4">Enlaces</span>    
                 <li>
                    <a href="#">Home</a>
                  </li>
                       
                  <li>
                     <a href="/shop">Shop</a>
                  </li>
                       
                  <li>
                    <a href="/reparaciones">Reparaciones</a>
                  </li>
                       
                  <li>
                     <a href="#">Encuentra tu tienda</a>
                  </li>
                       
                  <li>
                    <a href="#">Contacto</a>
                 </li>
            </ul>
        </div>
   
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
            <ul class="social">
               <span class="my-4">Social</span>    
               <li>
                    <a href="#"><i class="fa fa-facebook fa-2x"></i></a>
               </li>
              
               <li>
                    <a href="#"><i class="fa fa-github fa-2x"></i></a>
               </li>
                
               <li>
                    <a href="#"><i class="fa fa-linkedin fa-2x"></i></a>
               </li>
               
               <li>
                    <a href="#"><i class="fa fa-tumblr fa-2x"></i></a>
               </li>
                
               <li>
                    <a href="#"><i class="fa fa-google-plus fa-2x"></i></a>
              </li>
             </ul>
        </div>
   </div> 
</div>
<p class="text-center text-light py-2">© Copyright 2022 Tienda Apumovil </p>
