<meta charset="UTF-8">
<title></title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css">
<script>
    document.addEventListener( 'DOMContentLoaded', function() {
      var splide = new Splide( '.splide', {
  type   : 'loop',
  perPage: 1
 });
      splide.mount();
    } );
</script>